<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">{{text}}</h3>
      <div class="panel-body">
        <div ng-if="messages.error" role="alert" class="alert alert-danger">
          <div ng-repeat="error in messages.error">{{error.msg}}</div>
        </div>
        <form class="form-horizontal" ng-submit="addNewCustomer()">
          <div class="form-group">
            <label for="name" class="col-xs-12">Firmanavn</label>
            <div class="col-xs-12">
              <input type="text" name="name" id="name" placeholder="Firmanavn" class="form-control" 
              ng-model="newCustomer.name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="code" class="col-xs-12">Firmakode</label>
            <div class="col-xs-12">
              <input type="text" name="code" id="code" placeholder="Firmakode" class="form-control" 
              ng-model="newCustomer.code" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <a class="btn btn-default" href="/customers">Anuller</a>
              <button type="submit" class="btn btn-primary">Gem</button>
            </div>
          </div>
        </form>
      </div>
    </div>