<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 ng-show="currentUser.type === 'admin'" class="panel-title">{{text}}</h3>
      <h3 ng-show="currentUser.type === 'system_admin'" class="panel-title">Opret bruger</h3>
      <div class="panel-body">
        <div ng-if="messages.error" role="alert" class="alert alert-danger">
          <div ng-repeat="error in messages.error">{{error.msg}}</div>
        </div>
        <form class="form-horizontal" ng-submit="addNewUser()">
          <div class="form-group">
            <label ng-show="currentUser.type === 'admin'" for="number" class="col-xs-12">Medarbejdernummer</label>
            <label ng-show="currentUser.type === 'system_admin'" for="number" class="col-xs-12">Nummer</label>
            <div class="col-xs-12">
              <input type="text" name="number" id="number" placeholder="Nummer" class="form-control" ng-model="newUser.number" ng-disabled="edit"
                required>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-xs-12">Navn</label>
            <div class="col-xs-12">
              <input type="text" name="name" id="name" placeholder="Navn" class="form-control" ng-model="newUser.name" required>
            </div>
          </div>
          <div class="form-group" ng-if="!edit">
            <label for="password" class="col-xs-12">
            Kodeord
          <span ng-show="passwordFieldType != 'text'" class="btn btn-xs btn-danger" ng-click="showPassword()">
            Vis
            </span>
          <span ng-show="passwordFieldType == 'text'" class="btn btn-xs btn-default" ng-click="hidePassword()">
            Skjul
            </span>
            </label>
            <div class="col-xs-12">
              <input type="{{passwordFieldType}}" name="password" id="password" placeholder="Kodeord" class="form-control" ng-model="newUser.password"
                required>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-xs-12">Type</label>
            <div class="col-xs-12">
            <select name="type" id="type" class="form-control" ng-model="newUser.type" autofocus>
              <option value="">Vælg type</option>
              <option value="admin">Admin</option>
              <option value="user">Bruger</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-block">Gem</button>
            </div>
          </div>
        </form>
      </div>
    </div>