<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">{{customer.name}}</h3>
    </div>
      <div class="panel-body">
        <div ng-if="messages.error" role="alert" class="alert alert-danger">
          <div ng-repeat="error in messages.error">{{error.msg}}</div>
        </div>
        <div class="col-md-8">
          <div>
            <label>Firmanavn: </label>
              <span>{{customer.name}}</span>
          </div>
          <div>
            <label>Firmakode: </label>
              <span>{{customer.code}}</span>
          </div>
          </div>

          <div class="col-md-2">
              <button class="btn btn-info" ng-click="goToUsers(customer)">Brugere</button>
          </div>

      </div>
      </div>
    </div>