<div class="container medium-container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <form ng-submit="login()">
        <legend>Log Ind</legend>
        <div class="form-group">
          <label for="number">Nummer</label>
          <input type="text" name="number" id="number" placeholder="Medarbejdernummer" class="form-control" ng-model="user.number"
            autofocus>
        </div>
        <div class="form-group">
          <label for="password">Kodeord</label>
          <input type="password" name="password" id="password" placeholder="Kodeord" class="form-control" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-primary">Log ind</button>
      </form>
    </div>
  </div>
</div>
<p class="text-center">
  Ikke en bruger? <a href="/signup"><strong>Opret ny bruger</strong></a>
</p>
</div>