<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Sager</h3>
    </div>
    <div ng-if="currentUser.type === 'admin'" class="panel-body">
      <label class="btn btn-info btn-upload" upload-button url="/api/cases" on-success="onSuccess(response)">
      Upload
      </label>
    </div>
    <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nummer</th>
            <th>Sted</th>
            <th>Navn</th>
            <th>Afsluttet</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="case in cases">
            <td>{{case.number}}</td>
            <td>{{case.location}}</td>
            <td>
              {{case.name}}
              <br/> {{case.extraInfo}}
            </td>
            <td>{{case.finished}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>