<div class="container medium-container">
  <div class="panel">
    <div class="list-group">
      <a ng-if="currentUser.type === 'admin'" href="{{userPath}}" class="list-group-item">Medarbejdere</a>
      <a ng-if="currentUser.type === 'user'" href="/timeregistration" class="list-group-item">Registering</a>
      <a ng-if="currentUser.type === 'user'" href="/previousRegistrations" class="list-group-item">Tidligere registeringer</a>
      <a ng-if="currentUser.type === 'admin' || currentUser.type === 'user'" href="/cases" class="list-group-item">
      Sager</a>
      <a ng-if="currentUser.type === 'admin'" href="/categories" class="list-group-item">Varekategori</a>
      <a ng-if="currentUser.type === 'admin' || currentUser.type === 'user'" href="/rates" class="list-group-item">
      Overenkomstaftaler</a>
      <a ng-if="currentUser.type === 'admin'" href="/export" class="list-group-item">Export</a>
      <!--<br>
      <a class="list-group-item" ng-click="sendEmail()">test email</a>-->
      <a href="/place" class="list-group-item">Steder</a>
    </div>
  </div>
</div>